<a href="https://colab.research.google.com/github/janwaelty/artwork_valuation/blob/main/datapreprocessing_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

drive.mount('/content/drive')
# load numeric data
artist_data_path= "/content/drive/My Drive/artist_graph_data.xlsx"
artwork_numeric_data = pd.read_excel(artist_data_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
# visualize distribution of categorical variables

# Count the occurrences of each artist
artist_counts = artwork_numeric_data['artist'].value_counts()

# Create a bar plot
plt.figure(figsize=(10, 6))
sns.barplot(x=artist_counts.index, y=artist_counts.values)
plt.xticks(rotation=90)  # Rotate x-axis labels to avoid overlap
plt.xlabel('Artist')
plt.ylabel('Frequency')
plt.title('Distribution of Artists')
plt.show()

NameError: name 'sns' is not defined

In [38]:
print(artwork_numeric_data.dtypes)



#artwork_numeric_data["category"].unique()
#print(artwork_numeric_data["artist"].nunique())
#print(artwork_numeric_data["medium"].nunique())
#print(artwork_numeric_data["medium"].unique())


def one_hot(data):
  # one-hot encoding for various categorical variables
  data = pd.get_dummies(data, columns=['category', 'sale_year', 'artist',
                                       'medium', 'sale_house'])
  return data

artwork_numeric_data = one_hot(artwork_numeric_data)

category               object
sale_year               int64
sale_year_semi        float64
sale_price              int64
artist                 object
purchase_year           int64
purchase_year_semi    float64
purchase_price          int64
auction_interval      float64
return_value          float64
artist_num              int64
title                  object
sale_low_est            int64
sale_high_est           int64
purchase_low_est        int64
purchase_high_est       int64
height                  int64
width                   int64
medium                 object
sale_date              object
purchase_date          object
mtm                     int64
sale_house             object
purchase_house         object
sale_lot               object
purchase_lot           object
image_url              object
dtype: object
   sale_year_semi  sale_price  purchase_year  purchase_year_semi  \
0          2015.0       21643           2014              2014.5
1          2016.5     3007500           2014              2014.5
2          2018.0       21388           2017              2017.0
3          2020.0        9531           2019              2019.0
4          2016.5      211500           2016              2016.0

   purchase_price  auction_interval  return_value  artist_num  \
0           12657               0.5      1.923970           1
1          829800               2.0      0.903777           1
2           11798               1.0      0.812850           1
3            5883               1.0      0.620092           1
4          167867               0.5      0.587414           1

                       title  sale_low_est  ...  sale_house_SA  \
0            TETE DE TAUREAU          9408  ...          False
1         PORTRAIT DE RENART       1000000  ...          False
2                     LE ROI         20400  ...          False
3  SANS TITRE (AUTOPORTRAIT)          5500  ...          False
4                DEUX SOEURS        180000  ...          False

   sale_house_SBJ  sale_house_SDB  sale_house_SDH  sale_house_SHK  \
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
4           False           False           False           False

  sale_house_SL sale_house_SMI  sale_house_SP sale_house_SSP sale_house_SZH
0         False          False          False          False          False
1         False          False          False          False          False
2          True          False          False          False          False
3         False          False          False          False          False
4         False          False          False          False          False

[5 rows x 1077 columns]